{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href={{ asset('css/create-account.css') }}>
    {%  endblock %}
<main class="container">
    <h1>Register</h1>
    {% for type, messages in app.flashes() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }} 
            </div>
        {% endfor %}
    {% endfor %}

    <form method="post" action="{{ path('app_register') }}" enctype="multipart/form-data">
        <section id="avatar-section">
            <div>
                <label id="avatar" for="avatarImg">
                    <img id="preview" src="#" alt="Aperçu de l'image" style="display: none;">
                </label>
                <input type="file" id="avatarImg" name="avatarImg" onchange="previewImage(event)">
            </div>
            <label for="firstname">Saisissez votre prénom</label>
            <input type="text" id="firstname" name="firstname" placeholder="John"/>
            <label for="name">Saisissez votre nom</label>
            <input type="text" id="name" name="name" placeholder="Doe"/>
        </section>

        <section id="info-account-section">
            <div>
                <label for="address">Saisissez votre adresse</label>
                <input type="text" id="address" name="address" placeholder="13 rue de la route"/>
            </div>
            <div id="city-div">
                <label for="postalCode" class="postal-code">Saisissez votre code postal</label>
                <input type="number" class="postal-code" id="postalCode" name="postalCode" placeholder="75000" maxlength="5"/>
                <label for="city" class="city">Saisissez votre ville</label>
                <input type="text" class="city" name="city" placeholder="Paris"/>
            </div>
            <div>
                <label for="email">Saisissez votre adresse email</label>
                <input type="email" id="email" name="email" placeholder="john.doe@exemple.com"/>
            </div>
            <div>
                <label for="password">Saisissez votre mot de passe</label>
                <input type="password" id="password" name="password"/>
            </div>
        </section>

        <section id="submit-button">
            <button type="submit" name="submit">Créer votre compte</button>
        </section>
    </form>
</main>
<script>
        function previewImage(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function() {
                const preview = document.getElementById('preview');
                preview.src = reader.result;
                preview.style.display = 'block';
            }

            if (file) {
                reader.readAsDataURL(file);
            }
        }
    </script>
{% endblock %}
