.folder-article svg{
    width: 100%;
    fill: #989898;
}

.folder-article:hover, .hovered{
    transform: scale(1.05); 
}

.hovered{
    transform: scale(1.05); 
}


.posts input {
    text-align: center;
    border: 0;
}

.posts input:focus {
    outline: none;
}


#selectFolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-left: 10%;
}

#selectFolder article {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50%;
}

.folder-article {
    padding-top: 20px;
    align-items: center;
}

#addFolder p,
#removeFolder p {
    text-align: center;
    width: 70%;
    height: 30%;
    background-color: #03989e;  
    border-radius: 10px;
    overflow: hidden;
    color: white;
    
    /* Ajout pour centrer horizontalement */
    display: flex;
    align-items: center;
    justify-content: center;
}




#addFolder p:hover,
#removeFolder p:hover, .removefolderhovered{
    transform: scale(1.05);    
    cursor: pointer;
}


h1 {
    text-align: center;
    margin: 20px 0;
}

#ariane {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

#ariane a {
    text-decoration: none;
    color: #03989e;
}

#ariane a:hover {
    color: black;
}