{% extends 'base.html.twig' %}
{% block body %}
    <!-- balise pour inclure le script de suppression d'un utilisateur -->
    <script src="{{ asset('js/delete-user.js') }}"></script>

    <style>
        .footer{
            position: fixed;
            bottom: 0px;
            width: 100%;
        }
        body{
            position: relative;
            min-height: 100vh;
        }
        main {
            padding-top: 90px;
            padding-bottom: 100px;
        }
        @media (min-width: 768px){
            .footer{
                position: static;
            }
        }
    </style>
    <body>
    <main class="container">

        {% if app.user %}
    <!--Connnected-->
        {% block stylesheetsConnected %}
            <link rel="stylesheet" href={{ asset('css/user.css') }}>
        {% endblock %}
        {% endif %}
        <h1>DELETED USER</h1>
</main>

    <script>
        const value = document.querySelector("#value");
        const input = document.querySelector("#police");
        value.textContent = input.value;
        input.addEventListener("input", (event) => {
            let newPolice = event.target.value;
            value.textContent = newPolice;
            const data = {
                police: newPolice
            };

            fetch('/police', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .catch(error => {
                console.error('Erreur lors de l\'envoi de la requête:', error);
            });
        })
    </script>

    </body>
{% endblock %}