{% extends 'base.html.twig' %}
{% block body %}
    <!-- balise pour inclure le script de suppression d'un utilisateur -->

    <style>
       
        #deleted-user-text{
            margin-top:10%;
            text-align:center;
            margin-bottom:10%;

        }

         @media (min-width: 768px){
            #deleted-user-text{
            font-size:10px;

        }
        }
    </style>
    <body>
    <main class="container">

        {% if app.user %}
    <!--Connnected-->
        {% block stylesheetsConnected %}
            <link rel="stylesheet" href={{ asset('css/user.css') }}>
        {% endblock %}
        {% endif %}
        <div id="deleted-user-text">
        <h1>UTILISATEUR SUPPRIMÉ</h1>
        <h2>Vous allez être rédirigé dans <span id="timer">4</span></h2>
        </div>
    </main>

    <script>
        const value = document.querySelector("#value");
        const input = document.querySelector("#police");
        value.textContent = input.value;
        input.addEventListener("input", (event) => {
            let newPolice = event.target.value;
            value.textContent = newPolice;
            const data = {
                police: newPolice
            };

            fetch('/police', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .catch(error => {
                console.error('Erreur lors de l\'envoi de la requête:', error);
            });
        })
    </script>

    </body>
{% endblock %}